@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14.88px 20px;
    border-radius: 10px;
    color: #ffffff;
    width: 500px;
}

form > input{
    width: 95%;
    background: none;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #151515;
}

input::placeholder{
    color: #151515;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}