<h2 mat-dialog-title>
  Detalhes da História de Quadrinhos
</h2>
<mat-dialog-content class="mat-typography">
  <div class="detail-container">
    <section class="section-img">
      <img src="../../../assets/imgAvengers.jpg" alt="">
    </section>
  
    <section class="section-details">
      <div class="title-details">
        <h2>
          {{comicReadyById?.title}}
        </h2>
      </div>

    <div class="flex">
      <div class="title-publish">
        <div>
          <h2 class="title-publish-h2">Públicado:</h2>
        </div>
        <div>
          {{comicReadyById?.dates[0]?.date | date: 'd MMMM, y' : 'pt-BR' }}
        </div>
       </div>
  
       <div class="price-detail">
        <div>
          <h2 class="title-publish-h2">Valor:</h2>
        </div>
        <div>
          {{comicReadyById?.prices[0]?.price | currency: 'R$'}}
        </div>
       </div>
    </div>
    </section>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Fechar
  </button>
</mat-dialog-actions>
