@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

img{
    width: 220px;
    box-shadow:  -15px 5px 20px rgb(0 0 0 / 40%);
    opacity: 1;
    transition: .5 ease;
    backface-visibility: hidden;    
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.comics-img:hover .image {
    opacity: 0.3;

}
  
.comics-img:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.comics{
    position: relative;
}

.comics-info > h2{
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 3.2px;
    text-transform: capitalize;
}

.comics-info > small{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.comics-img{
    display: flex;
    padding: 20px 0;
}

.details {
    background-color: #202020;
    color: white;
    font-size: 13px;
    padding: 13px 26px;
    border: 0;
    cursor: pointer;
    border-radius: 25px;
}

.button-load{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.button-load > button{
    color: #ffffff;
    background-color: #202020;
    margin: 5px;
}
